{{block "index" .}}
<html>

<head>
	<link rel="stylesheet" href="/assets/style.css">
	<script src="/assets/js/Startup.js"></script>
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/Timer.js"></script>
	<script src="/assets/js/cookie.js"></script>
	<script src="/assets/js/TimersManager.js"></script>
	<script src="/assets/js/User.js"></script>



</head>

<body>
	<div class="page">
		{{ template "timers" . }}
		{{if .ShowNewUserAlertTrigger}}
			<input type="hidden" name="show_new_user_alert_trigger" value="Y" class="js-show-new-user-alert-trigger">
		{{end}}
	</div>
</body>

</html>
{{ end }}