{{ block "timer" .}}
<div class="timer js-timer" data-id="{{.Id}}"
    data-running-since="{{.RunningSince.Value}}"
    data-duration="{{.Duration}}"
    data-user-id="{{.UserID}}"
    data-color="{{.Color}}"
    data-id="{{.Id}}"
    data-paused-at="{{.PausedAt.Value}}"
>
        <form id="timerForm" method="PATCH" class="form js-form">
            <button type="button" id="deleteBtn" class="delete-btn js-delete-btn" title="Delete Timer">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <div class="input-group">
                <input
                    type="text"
                    id="title"
                    name="title"
                    placeholder="your mom"
                    class="input"
                    required
                    value="{{if .Title}}{{.Title}}{{end}}"
                >
            </div>

            <div class="timer-section">
                <div class="timer-circle">
                    <div class="timer-display js-timer-display" id="timerDisplay">
                        {{.FormattedDuration}}
                    </div>
                </div>

                <div class="button-group">
                    <button
                        type="button"
                        id="startBtn"
                        class="btn btn-primary js-start-btn"
                    >
                        Start
                    </button>

                    <button
                        type="button"
                        class="btn btn-secondary js-pause-btn"
                        disabled
                    >
                        Pause
                    </button>
                </div>
            </div>
        </form>
</div>
{{ end }}
